doctype html
html(lang='zh-Hant-TW')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width initial-scale=1 shrink-to-fit=no')
		link(href='./img/favicon.ico' rel='shortcut icon')
		title 首頁
		link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css' rel='stylesheet')
		link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet')
		link(href='./css/index.css' rel='stylesheet')
		|
		| <!--[if lt IE 9]>
		|   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		|   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		| <![endif]-->

	body

		//-script
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js')
		script(src='./js/index.js')
